<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>/var/lib/repository</localRepository>
    <mirrors>
        <mirror>
            <id>maven-mirror</id>
            <url>${env.MAVEN_MIRROR}</url>
            <mirrorOf>${env.MAVEN_MIRROR_OF}</mirrorOf>
        </mirror>
    </mirrors>
</settings>
